
/* Body effect opacity start */
.body_hide {
  opacity: 0;
  transition: 1s opacity ease-in-out;
  z-index: 1000;
}

.body_visible {
    opacity: 1;
}

.ete-ul-title{
 position: relative; 
 text-decoration: none;
 cursor: pointer; 
 text-transform: uppercase; 
 text-shadow: rgb(115, 111, 174) 0px 0px 10px, 1px 1px 26px rgba(86, 100, 184, .95); 
 font-size: 12px;
 color: #CEE0FF;
}

#Backgr_01{
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../File/images/001.jpg);
}

.body_hide {
  opacity: 0;
  transition: 4s opacity ease-in-out;
  background-color:#FEF7F7;
  
}

.body_visible {
  opacity: 1;
  transition: 1s opacity ease-in-out;
}

.wr-page-cont{
  padding:1px; 
  background: rgba(86, 100, 184, .490196078431372);
  width: 100%; 
  height: 100%; overflow-x: auto; 
  overflow: auto;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  #Backgr_01{ 
    background-image: url(images/001.jpg);
  }
	}
